:host ::ng-deep .obj-form {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.hide-spinner {
  display: none;
}

.btn-height {
  height: 39px;
}

.float-right {
  margin-left: 5px;
}

.float-left {
  margin-right: 10px;
  float: left;
}

form:invalid {
  outline: none;
}

form.ng-invalid {
  border: 0px !important;
}

.form-scroll-info-geom {
  overflow-y: auto;
  max-height: 60vh;
}

.form-scroll {
  overflow-y: auto;
  max-height: 70vh;
}

.btn-child {
  border: 0px solid #202020;
  padding-top: 2px;
  padding-bottom: auto;
  -webkit-box-shadow: 0px -2px 2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px -2px 2px rgba(50, 50, 50, 0.3);
  box-shadow: 0px -2px 2px rgba(50, 50, 50, 0.3);
  overflow: hidden;
  height: fit-content;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}