<ng-template [ngIf]="iconOrButton != 'button'" [ngIfElse]="buttonComp">
  <button
    [ngClass]="{ isDisableBtn: !canCreateChild }"
    class="icon-btn"
    [matTooltip]="label"
    (click)="canCreateChild ? onDeploy() : null"
    #ddTrigger="matMenuTrigger"
    [matMenuTriggerFor]="canCreateChild ? dd :null"
  >
    <i class="fa fa-plus" [ngClass]="{ isDisableIcon: !canCreateChild }" aria-hidden="true"></i>
  </button>
</ng-template>
<ng-template #buttonComp>
  <button
    mat-raised-button
    [disabled]="!canCreateChild"
    color="primary"
    class="btn btn-success float-right"
    [ngClass]="{ isDisableBtn: !canCreateChild }"
    (click)="canCreateChild ? onDeploy() : null"
    #ddTrigger="matMenuTrigger"
    [matMenuTriggerFor]="canCreateChild ? dd :null"
  >
    <i class="fa fa-plus" [ngClass]="{ isDisableIcon: !canCreateChild }" aria-hidden="true"></i> {{ label }}
  </button>
</ng-template>
<mat-menu #dd="matMenu" [overlapTrigger]="false" class="btn-menu">
  <div (click)="cancelClick($event)" class="dropdown">
    <mat-form-field class="btn-menu">
      <input
        type="text"
        [placeholder]="placeholder"
        aria-label="Number"
        matInput
        [formControl]="form"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" classList="width-mat">
        <mat-option *ngIf="optionList?.length == 0; else elseBlock" disabled
          >{{ 'Monitoring.List.NoModules' | translate }}</mat-option
        >
        <ng-template #elseBlock>
          <mat-option *ngFor="let option of optionList" [value]="option">
            {{ option.label }}
          </mat-option>
        </ng-template>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" (click)="onSave()">{{ 'Monitoring.List.Add' | translate }}</button>
      <button mat-button (click)="canCreateChild ? onCancel() : null">{{ 'Monitoring.List.Cancel' | translate }}</button>
    </div>
  </div>
</mat-menu>
