.dropdown {
  padding: 5px;
}

::ng-deep.mat-menu-panel.btn-menu {
  width: 400px;
}

::ng-deep.mat-form-field.btn-menu {
  display: block;
}


.mat-option{
  word-wrap:break-word !important;
  white-space:normal !important;
}

::ng-deep.mat-option-text{
  line-height:normal !important;
}