backend/__pycache__/*
**/__pycache__/
frontend/app/module.config.ts
**/node_modules
config/conf_gn_module.toml
.vscode
**/custom.json
config/monitoring/*
!config/monitoring/generic
frontend/assets/*.jpg
