:host ::ng-deep .obj-form {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

:host ::ng-deep .full-wrapper {
  padding-bottom: 2rem!important;
}

.hide-spinner {
  display: none;
}

.btn-height {
  height: 39px;
}


.float-left {
  margin-right: 10px;
  float: left;
}


form:invalid {
  outline: none;
}

form.ng-invalid {
  border: 0px !important;
}

.form-scroll {
  overflow-y: auto;
  min-height: 0;
}

.alert {
  align-self: flex-start;
}

.btn-child {
  padding: 10px 0;;
  border-top: 1px solid #dee2e6;
  overflow: hidden;
  height: fit-content;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
