<!-- IF prefered observable compare to ngOnChanges we can remove rows and colsname-->
<div>
  <pnx-monitoring-properties
    *ngIf="moduleCode !== 'generic' && obj && !bEdit && obj.bIsInitialized"
    id="nav-properties"
    [obj]="obj"
    [(bEdit)]="bEdit"
    [currentUser]="currentUser">
  </pnx-monitoring-properties>
  <pnx-monitoring-form [obj]="obj" [objForm]="objForm" [currentUser]="currentUser" *ngIf="bEdit && obj?.bIsInitialized"
    [(bEdit)]="bEdit" [addChildren]=false></pnx-monitoring-form>
  <pnx-monitoring-datatable-g
    *ngIf="!bEdit"
    [dataTableArray]="dataTableArray"
    [dataTableObj]="dataTableObj"
    [rows]="siteResolvedProperties"
    [colsname]="colsname"
    (onSort)="setSort($event)"
    [page]="page"
    (onFilter)="setFilter($event)"
    (onSetPage)="setPage($event)"
    [obj]="sitesGroups"
    (onDetailsRow)="seeDetails($event)"
    (onEditEvent)="editChild($event)"
    (onDeleteEvent)="onDelete($event)" 
    (tabChanged)="updateActiveTab($event)"
    [activetabIndex]="activetabIndex"
    (addVisitFromTable)="addChildrenVisit($event)"
    (saveOptionChildren)="onSaveAddChildren($event)"
    [bDeleteModalEmitter]="bDeleteModalEmitter"
    (rowStatusChange)="onSelectedOnDataTable($event)"
    (onAddChildren)="navigateToAddChildren($event)"
    (onAddObj)="navigateToAddObj($event)"
    [permission]="currentPermission"
    [currentUser]="currentUser"
    parentPath="sites_group"
  ></pnx-monitoring-datatable-g>
</div>
