<!-- IF prefered observable compare to ngOnChanges we can remove rows and colsname-->
<div>
  <pnx-monitoring-datatable-g
    [dataTableArray]="dataTableArray"
    [dataTableObj]="dataTableObj"
    [rows]="siteResolvedProperties"
    [colsname]="colsname"
    (onSort)="setSort($event)"
    [page]="page"
    (onFilter)="setFilter($event)"
    (onSetPage)="setPage($event)"
    [obj]="sitesGroups"
    (onDetailsRow)="seeDetails($event)"
    (onEditEvent)="editChild($event)"
    (onDeleteEvent)="onDelete($event)"
    (addEvent)="addSiteGpChild($event)"
    (tabChanged)="updateActiveTab($event)"
    [activetabIndex]="activetabIndex"
    (addFromTable)="onAddChildren($event)"
    (saveOptionChildren)="onSaveAddChildren($event)"
    [bDeleteModalEmitter]="bDeleteModalEmitter"
  ></pnx-monitoring-datatable-g>
</div>
