<!-- <div *ngIf="child0 && row_save"> -->
<div *ngIf="rows">
  <!-- <input
    type="text"
    style="padding:8px;margin:15px auto;width:30%;"
    placeholder="Entrer une valeur pour filtrer les colonnes"
    (keyup)="updateFilter($event)"
  /> -->

  <div class="btn-float-right md-2">
    <button
      class="btn btn-info"
      (click)="displayFilter = !displayFilter"
      matTooltip="{{ displayFilter ? 'Cacher' : 'Afficher' }} les filtres"
    >
      <i class="fa fa-filter" aria-hidden="true"></i>
    </button>
    <!--TODO  Revoir pour rendre générique le bouton "Ajouter" , avant : {{ (child0.template["label_art_undef_new"] || "") }}-->
    <!-- TODO Revoir pour les droits pour pouvoir créer un groupe de site avec anciennement:  *ngIf=obj.moduleCode && (currentUser['cruved_object'][child0.objectType] || currentUser['cruved']).C >= child0.cruved('C')" -->
    <button
      class="btn btn-success float-right"
      (click)="navigateToAddChildren(null, null)"
    >
      <i class="fa fa-plus" aria-hidden="true"></i> Ajouter {{objectType}}
    </button>
  </div>
  <ngx-datatable
    *ngIf="rows"
    #table
    class="material striped custom-dt"
    [columnMode]="'force'"
    [headerHeight]="'auto'"
    [footerHeight]="50"
    [rowHeight]="40"
    [externalPaging]="true"
    [count]="page.count"
    [offset]="page.page"
    [limit]="page.limit"
    [rows]="rows"
    [columns]="columns"
    [selected]="selected"
    selectionType="single"
    (select)="onSelectEvent($event)"
    [messages]="{
      emptyMessage: 'Pas de données disponibles',
      totalMessage: 'total',
      selectedMessage: 'selection'
    }"
    (page)="setPage($event)"
    (sort)="onSortEvent($event)"
  >
    <ngx-datatable-column
      [cellClass]="'cell-link'"
      prop="Action"
      class="object-link"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <!-- TODO Action Column : changer le (click)="navigateToDetail(row.id)-->
        <a
          class="nav-link link cell-link"
          (click)="navigateToDetail(row)"
          matTooltip="Consulter le groupe de site"
        >
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
        <!-- TODO Action Column :  Changer ngIf, click function, matTooltip // voir comment adapter à ce qu'il y avait avant :  *ngIf="child0.child0()"" et dans la function `child0.child0().labelArtUndef(true)` -->
        <a
          class="nav-link link cell-link"
          (click)="navigateToAddChildren(null, row.id)"
          matTooltip="Ajouter un site "
        >
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
      </ng-template>
    </ngx-datatable-column>

    <!-- TODO Filter field :  Changer ngIf et rajouter [comparator]="customColumnComparator"  -->
    <ngx-datatable-column
      *ngFor="let col of columns"
      [name]="col.name"
      [prop]="col.prop"
      [headerTemplate]="hdrTpl"
    ></ngx-datatable-column>
  </ngx-datatable>

  <ng-template
    #hdrTpl
    let-column="column"
    let-sortDir="sortDir"
    let-sortFn="sortFn"
  >
    <div class="header-sort-span" (click)="sortFn()">
      <!-- {{column.name}} -->
      <i
        class="material-icons icon-sort"
        [innerText]="
          sortDir ? (sortDir === 'asc' ? 'arrow_upward' : 'arrow_downward') : ''
        "
      ></i>
      <i
        *ngIf="column.description"
        class="material-icons icon-sort"
        [matTooltip]="column.description"
        matTooltipPosition="above"
        >help</i
      >
      <span [matTooltip]="column.name" matTooltipPosition="above">
        {{ column.name }}</span
      >
    </div>
    <div class="header-filter-span">
      <input
        *ngIf="displayFilter"
        [(ngModel)]="filters[column.prop]"
        (input)="filterInput($event)"
        type="text"
      />
    </div>
  </ng-template>
</div>
<!-- </div> -->
