<pnx-modal-msg [bDisplayModal]="bDeleteModal" *ngIf="rowSelected">
  <h2>Attention</h2>
  <p>
    Vous êtes sur le point de supprimer
    {{ this.child0.template['label_art_def'] }}
    <b>{{ this.child0.template['description'] }}</b>
  </p>
  <button class="btn btn-danger float-right" (click)="onDelete(rowSelected)">
    <span
      [ngClass]="{ 'hide-spinner': !bDeleteSpinner }"
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span>
    Confirmer la suppression
  </button>
  <button class="btn btn-primary" (click)="bDeleteModal = false">Annuler</button>
</pnx-modal-msg>
<div *ngIf="child0 && row_save">
  <!-- <input
    type="text"
    style="padding:8px;margin:15px auto;width:30%;"
    placeholder="Entrer une valeur pour filtrer les colonnes"
    (keyup)="updateFilter($event)"
  /> -->
  <ngx-datatable
    *ngIf="rows"
    #table
    class="material striped custom-dt"
    [columnMode]="'force'"
    [headerHeight]="'auto'"
    [footerHeight]="50"
    [rowHeight]="40"
    [limit]="10"
    [rows]="rows"
    [columns]="columns"
    [selected]="selected"
    (activate)="onRowClick($event)"  
    [sorts]="sorts"
    [messages]="{
      emptyMessage: 'Pas de données disponibles',
      totalMessage: 'total',
      selectedMessage: 'selection'
    }"
  >
    <ngx-datatable-column [cellClass]="'cell-link'" prop="Action" class="object-link">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <a
          class="nav-link link cell-link"
          (click)="child0.navigateToDetail(row.id)"
          *ngIf="child0 && currentUser.moduleCruved[child0.objectType].R >= 1"
          matTooltip="Consulter {{ child0.template.label_art_def }}"
        >
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
        <a
          *ngIf="child0.child0()"
          [ngClass]="{ isDisableBtn: !canCreateChild }"
          class="nav-link link cell-link"
          (click)="canCreateChild ? child0.navigateToAddChildren(null, row.id) : null"
          [matTooltip]="
            canCreateChild ? 'Ajouter' + child0.child0().labelArtUndef(true) : toolTipNotAllowed
          "
        >
          <i
            [ngClass]="{ isDisableIcon: !canCreateChild }"
            class="fa fa-plus"
            aria-hidden="true"
          ></i>
        </a>
        <!-- TODO: rajouter les permission currentUser  *ngIf="currentUser?.moduleCruved[child0.objectType].U >= child0.config.cruved('U')" -->
        <a
          [ngClass]="{ isDisableBtn: !row.cruved['U'] }"
          class="nav-link link cell-link"
          (click)="row.cruved['U'] ? child0.navigateToDetail(row.id, true) : null"
          [matTooltip]="
            row.cruved['U'] ? 'Editer' + child0.template.label_art_def : toolTipNotAllowed
          "
        >
          <i
            [ngClass]="{ isDisableIcon: !row.cruved['U'] }"
            class="fa fa-edit"
            aria-hidden="true"
          ></i>
        </a>
        <ng-container
          *ngIf="(child0.objectType == 'visit' ? true : row['nb_visits'] == 0) && this.canDeleteObj"
        >
          <a
            [ngClass]="{ isDisableBtn: !row.cruved['D'] }"
            class="nav-link link cell-link"
            (click)="row.cruved['D'] ? alertMessage(row) : null"
            [matTooltip]="
              row.cruved['D'] ? 'Supprimer' + child0.template.label_art_def : toolTipNotAllowed
            "
          >
            <i
              [ngClass]="{ isDisableIcon: !row.cruved['D'] }"
              class="fa fa-trash"
              aria-hidden="true"
            ></i>
          </a>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      *ngFor="let col of columns"
      [name]="col.name"
      [prop]="col.prop"
      [comparator]="customColumnComparator"
      [headerTemplate]="hdrTpl"
    ></ngx-datatable-column>
  </ngx-datatable>

  <ng-template #hdrTpl let-column="column" let-sortDir="sortDir" let-sortFn="sortFn">
    <div class="header-sort-span" (click)="sortFn()">
      {{ column.definition }}
      <i
        class="material-icons icon-sort"
        [innerText]="sortDir ? (sortDir === 'asc' ? 'arrow_upward' : 'arrow_downward') : ''"
      ></i>
      <i
        *ngIf="child0.template.fieldDefinitions[column.prop]"
        class="material-icons icon-sort"
        [matTooltip]="tooltip(column)"
        matTooltipPosition="above"
        >help</i
      >
      <span [matTooltip]="tooltip(column)" matTooltipPosition="above"> {{ column.name }}</span>
    </div>
    <div class="header-filter-span">
      <input
        *ngIf="child0.config['display_filter']"
        [(ngModel)]="filters[column.prop]"
        (input)="filterInput($event)"
        type="text"
      />
    </div>
  </ng-template>
</div>
