<div *ngIf="uuid_attached_row">
  <div *ngIf="!bEditMedia">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Media</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let media of medias">
          <td>
            <button class="btn" (click)="editMedia(media)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
          <td>
            <a
              target="_blank"
              href="{{
                media['media_url'] || staticDirUrl + '/' + media['media_path']
              }}"
            >
              {{ media.title_fr }}
            </a>
          </td>
          <td>{{ media.description_fr }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-success" (click)="editMedia({})">
        Ajouter Média +
      </button>
    </div>
  </div>

  <div *ngIf="bEditMedia">
    <pnx-upload-media
      [uuid_attached_row]="uuid_attached_row"
      [idTableLocation]="idTableLocation"
      [media]="media"
      [staticDirUrl]="staticDirUrl"
      (mediaChange)="onMediaChange($event)"
      *ngIf="bEditMedia"
      [(bEditMedia)]="bEditMedia"
    >
    </pnx-upload-media>
  </div>
</div>
