<div>
  <span class="obj-title"
    >{{ bEdit ? 'Editer le ' : 'Détails du ' }}{{ _sitesGroupService.objectObs.label }}:</span
  >
  <span *ngIf="sitesGroup" class="obj-description"> {{ sitesGroup.sites_group_name }} </span>
</div>
<pnx-monitoring-properties
  *ngIf="obj && !bEdit && obj.bIsInitialized"
  id="nav-properties"
  [obj]="obj"
  [(bEdit)]="bEdit"
  [currentUser]="currentUser">
</pnx-monitoring-properties>
<pnx-monitoring-form [obj]="obj" [objForm]="form" (objChanged)="onObjChanged($event)" *ngIf="bEdit" [(bEdit)]="bEdit"
  [apiService]="siteService" [isExtraForm]="true" [currentUser]="currentUser">
</pnx-monitoring-form>
<pnx-monitoring-datatable-g
  *ngIf="!bEdit"
  [dataTableArray]="dataTableArray"
  [dataTableObj]="dataTableObj"
  [rows]="siteResolvedProperties"
  [colsname]="colsname"
  (onSort)="setSort($event)"
  [page]="page"
  (onFilter)="setFilter($event)"
  (onSetPage)="setPage($event)"
  [obj]="rows"
  (onDetailsRow)="seeDetails($event)"
  (addVisitFromTable)="onAddChildren($event)"
  (onEditEvent)="editChild($event)"
  (onDeleteEvent)="onDelete($event)"
  (saveOptionChildren)="onSaveAddChildren($event)"
  (onAddObj)="navigateToAddObj($event)" 
  [bDeleteModalEmitter]="bDeleteModalEmitter"
  [permission]="currentPermission"
  parentPath="sites_group"
></pnx-monitoring-datatable-g>
