{{sitesStatus | json}}

<div id="geometry" class="map-container">
  <pnx-map height="80vh" [ngClass]="{ 'hide-draw-form': !bEdit }">
    
    <draw-form
      *ngIf="obj && obj.config['geometry_type'] && objForm.controls['geometry']"
      [parentFormControl]="objForm.controls['geometry']"
      [geometryType]="obj.config['geometry_type']"
      [bZoomOnPoint]=false
    ></draw-form>

    <pnx-geojson
      *ngIf="sites && sites['features']"
      [geojson]="sites"
      [zoomOnLayer]="true"
    ></pnx-geojson>

  </pnx-map>
</div>
