<div class="flex-container" id="object">
  <div id="geometry" class="monitoring-map-container" class="cadre" *ngIf="displayMap">
    <pnx-map
      *ngIf="heightMap"
      [height]="heightMap"
      [ngClass]="{ 'hide-draw-form': !(bEdit && obj) }"
    >
      <pnx-draw-form
        [parentFormControl]="objForm && objForm.controls && objForm.controls['geometry']"
        [geometryType]="obj && obj.config && obj.config['geometry_type']"
        [bZoomOnPoint]="false"
        [bEdit]="bEdit"
        [geomFromProtocol]="false"
      ></pnx-draw-form>
    </pnx-map>
  </div>
  <div id="monitoring-elem-container" class="cadre scroll">
    <div *ngIf="moduleCode !== 'generic'; else staticBreadcrumb">
      <pnx-monitoring-breadcrumbs *ngIf="obj && obj.bIsInitialized" [obj]="obj"
        [(bEdit)]="bEdit">
      </pnx-monitoring-breadcrumbs>
    </div>
  
    <ng-template #staticBreadcrumb>
      <pnx-monitoring-breadcrumbs></pnx-monitoring-breadcrumbs>
    </ng-template>
    
    <!-- <button (click)="displayMap = !displayMap">HIDE MAP</button> -->
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>
