<div class="flex-container" id="object">
  <div id="geometry" class="monitoring-map-container" class="cadre" *ngIf="displayMap">
    <pnx-map
      *ngIf="heightMap"
      [height]="heightMap"
      [geolocation]="true"
    >
      <pnx-draw-form
        [bZoomOnPoint]="false"
        [bEdit]="bEdit"
        [geomFromProtocol]="false"
      ></pnx-draw-form>
    </pnx-map>
  </div>
  <div id="monitoring-elem-container" class="cadre scroll">
    <div>
      <pnx-monitoring-breadcrumbs
        [(bEdit)]="bEdit">
      </pnx-monitoring-breadcrumbs>
    </div>


    <!-- <button (click)="displayMap = !displayMap">HIDE MAP</button> -->
    <router-outlet (activate)="onActivate()"></router-outlet>
  </div>
</div>
