:host ::ng-deep .obj-form {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}


.hide-spinner {
  display: none;
}

.btn-height {
  height: 39px;
}


form:invalid {
  outline: none;
}

form.ng-invalid {
  border: 0px !important;
}

.btn-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2px;
  background-color: white;
  gap: 1em;
}



button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
