
<pnx-monitoring-properties-g
  *ngIf="!bEdit"
  [(bEdit)]="bEdit"
  [selectedObj]="sitesGroup"
  [newParentType]="objParent"
>
</pnx-monitoring-properties-g>
<pnx-monitoring-form-g
  [apiService]="_sitesGroupService"
  [obj]="sitesGroup"
  (objChanged)="onObjChanged($event)"
  *ngIf="bEdit"
  [(bEdit)]="bEdit"
  [objForm]="objForm"
></pnx-monitoring-form-g>
<pnx-monitoring-datatable-g
  [rows]="sites"
  [colsname]="colsname"
  (onSort)="setSort($event)"
  [page]="page"
  (onFilter)="setFilter($event)"
  (onSetPage)="setPage($event)"
  [obj]="sites"
  (onDetailsRow)="seeDetails($event)"
></pnx-monitoring-datatable-g>
