<div class="modules">
  <pnx-modal-msg [bDisplayModal]="bLoading">
    <h2>Chargement en cours</h2>
    <div>
      <span class="center spinner-border" role="status" aria-hidden="true"></span>
    </div>
  </pnx-modal-msg>

  <h2 class="title-module mb-4">{{titleModule}}</h2>
  <div class="text-center my-auto" style="height: 80vh;" *ngIf="modules.length<1 && !bLoading">Vous n'avez pas encore de
    protocole
    installé</div>
  <div class="row m-2" *ngIf="modules.length>0">
    <div class="col-md-4 col-sm-12 des-module"> {{description}}</div>
    <!-- <div class="w-100 d-none d-sm-block"></div> -->
    <div class="btn-module col-md-8 col-sm-12 text-center">
      <button class="btn btn-success mr-2" (click)="onAccessSitesClick(modules)" *ngIf="currentUser">
        Accès aux sites
      </button>
      <div class="container py-5 border rounded m-2">
        <h3>Liste des protocoles</h3>
        <div class="row row-eq-height" style="overflow-x: auto;">
          <div class="col-3 col-sm-5 col-md-3 col-lg-3 module" style="width:250px;" *ngFor="let module of modules">
            <a [routerLink]="[
        'object',
        module.module_code,
        'module',
        module.id_module
        ]">
              <div class="card module-card h-100">
                <img class="card-img-top" src="{{assetsDirectory}}{{ module.module_code.toLowerCase()}}.jpg"
                  alt="{{ module.module_label }}" title="{{ module.module_label }}">
                <div class="card-body">
                  <h5 class="card-title">{{ module.module_label }}</h5>
                  <p class="card-text"> {{ module.module_desc }}</p>
                </div>
              </div>
            </a>

          </div>
        </div>
        <!-- <div class="d-flex flex-row p-4" style="overflow-x: auto;">
          <div class="module" style="min-width:250px; max-width: 250px;" *ngFor="let module of modules">
            <a [routerLink]="[
        'object',
        module.module_code,
        'module',
        module.id_module
        ]">
              <div class="card module-card h-100">
                <img class="card-img-top" src="{{assetsDirectory}}{{ module.module_code.toLowerCase()}}.jpg"
                  alt="{{ module.module_label }}" title="{{ module.module_label }}">
                <div class="card-body">
                  <h5 class="card-title">{{ module.module_label }}</h5>
                  <p class="card-text"> {{ module.module_desc }}</p>
                </div>
              </div>
            </a>

          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>