h1, h2 {
  text-align: center;
}

.modules {
  background-color: white;
  min-height: 90vh;
  padding: 1rem;
  margin-bottom: 1rem;
}

.module {
  padding: 5px;
}


a {
  text-decoration: none;
  color: initial;
}


.module h2 {
  text-align: center;
}

.module-card:hover {
  transition: 0.1s ease;
  background-color: rgba(121, 116, 116, 0.137);
}

.card-body {
  border-top: solid 1px rgb(211, 206, 206);
}

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.isDisableBtn {
  opacity: 90%;
}
