<div class="modules container">
  <pnx-modal-msg [bDisplayModal]="bLoading">
    <h2>Chargement en cours</h2>
    <div>
      <span class="center spinner-border" role="status" aria-hidden="true"></span>
    </div>
  </pnx-modal-msg>

  <h1 class="title-module display-5 mb-4">{{ titleModule }}</h1>
  <div class="text-center my-auto" style="height: 80vh" *ngIf="modules.length < 1 && !bLoading">
    Vous n'avez pas encore de protocole installé
  </div>
  <div class="text-center">{{ description }}</div>
  <div class="m-2" *ngIf="modules.length > 0">
    <!-- <div class="w-100 d-none d-sm-block"></div> -->
    <div class="btn-module text-center">
      <div
        style="display: inline-block"
        [matTooltip]="toolTipNotAllowed"
        [matTooltipDisabled]="canAccessSite"
      >
        <button
          mat-flat-button
          class="mt-4"
          color="primary"
          [ngClass]="{ isDisableBtn: !canAccessSite }"
          [disabled]="!canAccessSite"
          [routerLink]="'object/generic/sites_group'"
          *ngIf="currentUser"
        >
          Gestionnaire de sites
          <mat-icon> map</mat-icon>
        </button>
        <br>
        <small class="text-muted">Voir les sites et groupes de sites</small>
      </div>
      <div class="container-fluid py-5 m-2">
        <h3>Liste des protocoles</h3>
        <div class="row row-eq-height justify-content-center">
          <div
            class="col-12 col-sm-5 col-md-3 col-lg-3 module"
            style="min-width: 250px; max-width: 250px"
            *ngFor="let module of modules"
          >
            <a [routerLink]="['object', module.module_code, 'sites_group']">
              <div class="card module-card" title="code&nbsp;: {{ module.module_code }}">
                <img
                  class="card-img-top"
                  src="{{ assetsDirectory }}/{{ module.module_code }}/img.jpg"
                  alt="{{ module.module_label }}"
                  title="{{ module.module_label }}"
                />
                <div class="card-body">
                  <h5 class="card-title" data>{{ module.module_label }}</h5>
                  <p class="card-text">{{ module.module_desc }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
