h2 {
  text-align: center;
}

.modules {
  background-color: white;
}

.module {
  padding: 5px;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.flex-item {
  background-color: lightgray;
  padding: 10px;
  margin: 20px;
  min-width: 377px;
  line-height: 20px;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px grey;
  opacity: 0.7;
  transition: opacity 0.2s, box-shadow 0.2s;
}

a {
  text-decoration: none;
  color: initial;
}

.flex-item:hover {
  opacity: 1;
  box-shadow: 0px 0px 10px black;
  transition: opacity 0.2s, box-shadow 0.2s;
}

.module h2 {
  text-align: center;
}


.module-card:hover {
  border: 1px solid #303030;
  padding: 5px;
  color: gray;
  transition: 1s ease;
}

.module-card {
  background-color: #71717129;
  transition: 1s ease;
}