<div class="object">
  <pnx-modal-msg [bDisplayModal]="bLoadingModal">
    <h2>Chargement en cours</h2>
    <div>
      <span
        class="center spinner-border"
        role="status"
        aria-hidden="true"
      ></span>
    </div>
  </pnx-modal-msg>

  <div class="flex-container" id="object">
    <div id="monitoring-map-container" class="cadre">
      <pnx-monitoring-map
        *ngIf="heightMap"
        [obj]="obj"
        [bEdit]="bEdit"
        [objForm]="objForm"
        [(objectsStatus)]="objectsStatus"
        [sites]="sites"
        [heightMap]="heightMap"
      ></pnx-monitoring-map>
    </div>

    <div id="monitoring-elem-container" class="cadre scroll">
      
      <pnx-monitoring-breadcrumbs
        *ngIf="obj && obj.bIsInitialized"
        [obj]="obj"
        [(bEdit)]="bEdit"
      ></pnx-monitoring-breadcrumbs>
<!--titre de module-->
      <div>
        <h3>{{ obj.template["title"] }}</h3>
      </div>
<!--description de module-->
      <pnx-monitoring-properties
        id="nav-properties"
        [obj]="obj"
        *ngIf="!bEdit"
        [(bEdit)]="bEdit"
        [currentUser]="currentUser"
      ></pnx-monitoring-properties>

<!--editer un site-->
      <pnx-monitoring-form
        [obj]="obj"
        (objChanged)="onObjChanged($event)"
        *ngIf="bEdit && obj?.bIsInitialized"
        [(bEdit)]="bEdit"
        [objForm]="objForm"
        [currentUser]="currentUser"
        [sites]="sites"
      ></pnx-monitoring-form>
<!--onglet des sites-->
      <pnx-monitoring-lists
        [obj]="obj"
        [(objectsStatus)]="objectsStatus"
        [(bEdit)]="bEdit"
        *ngIf="!bEdit && obj && obj.bIsInitialized"
        [currentUser]="currentUser"
      ></pnx-monitoring-lists>
    </div>
  </div>
</div>
