<div class="object">
  <pnx-modal-msg [bDisplayModal]="bLoadingModal">
    <h2>Chargement en cours</h2>
    <div>
      <span
        class="center spinner-border"
        role="status"
        aria-hidden="true"
      ></span>
    </div>
  </pnx-modal-msg>

  <div class="flex-container">
    <div id="map-container" class="cadre">
      <pnx-monitoring-map
        [obj]="obj"
        [bEdit]="bEdit"
        [objForm]="objForm"
        [(objectsStatus)]="objectsStatus"
        [sites]="sites"
      ></pnx-monitoring-map>
    </div>

    <div id="monitoring-elem-container" class="cadre">
      <pnx-monitoring-breadcrumbs 
        *ngIf="obj && obj.bIsInitialized"
        [obj]="obj"></pnx-monitoring-breadcrumbs>

      <h2>{{ obj.template["title"] }}</h2>

      <div
        id="properties-display"
        class="cadre"
        *ngIf="!bEdit "
      >
        <pnx-monitoring-properties
          [obj]="obj"
          *ngIf="!bEdit"
          [(bEdit)]="bEdit"
        ></pnx-monitoring-properties>
      </div>

      <pnx-monitoring-form
        [obj]="obj"
        (objChanged)="onObjChanged($event)" 
        *ngIf="bEdit && obj?.bIsInitialized"
        [(bEdit)]="bEdit"
        [objForm]="objForm"
        [currentUser]="currentUser"
      ></pnx-monitoring-form>

      <pnx-monitoring-lists
        [obj]="obj"
        [(objectsStatus)]="objectsStatus"
        (bEditChanged)="onbEditChanged($event)"
        *ngIf="!bEdit && obj && obj.bIsInitialized"
      ></pnx-monitoring-lists>
    </div>
  </div>
</div>
