
<div>
  <span class="obj-title" *ngIf="bEdit">
    {{ 'Actions.Edit' | translate }}
  </span>
  <span class="obj-title" *ngIf="!bEdit">
    {{ 'Detail' | translate }}
  </span>
  <span *ngIf="objectDataResolved" class="obj-description">
    {{ objectDataResolved.marking_location }}
  </span>
</div>
<pnx-monitoring-properties-g *ngIf="objectDataResolved && !bEdit" id="nav-properties" [obj]="objectDataResolved"
  [templateData]="templateData" [(bEdit)]="bEdit" [currentUser]="currentUser"
  [objectType]="objectType"></pnx-monitoring-properties-g>
<pnx-monitoring-form-g *ngIf="objectData && bEdit" [object]="objectData" [objectType]="objectType"
  [form]="form" [(bEdit)]="bEdit" [apiService]="_markingsService" [config]="moduleConfig[objectType]"
  [currentUser]="currentUser">
</pnx-monitoring-form-g>
