.breadcrumbs {
  background-color: lightgray;
  display: inline-block;
  padding: 2px 5px;
  box-shadow: 0 0 2px;
}

.breadcrumbs .link {
  cursor: pointer;
  color: blue;
}  

.breadcrumbs .link:hover {
  text-decoration: underline;
}  
