<div class="cadre" *ngIf="children0Array.length">
  <!-- tab nav -->
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        *ngFor="let child0 of children0Array; first as isFirst"
        class="nav-item nav-link"
        [ngClass]="{ active: isFirst }"
        id="nav-{{ child0.objectType }}-tab"
        data-toggle="tab"
        href="#nav-{{ child0.objectType }}"
        role="tab"
        attr.aria-controls="nav-{{ child0.objectType }}"
        aria-selected="true"
        >{{ child0.template["label_list"] }} ({{
          obj.children[child0.objectType].length
        }})
        <!-- ({{child0.objectType}}) -->
      </a>
    </div>
  </nav>

  <!-- tab content -->
  <div class="tab-content" id="nav-tabContent">
    <div
      *ngFor="let child0 of children0Array; first as isFirst"
      class="tab-pane fade show"
      [ngClass]="{ active: isFirst }"
      id="nav-{{ child0.objectType }}"
      role="tabpanel"
      attr.aria-labelledby="nav-{{ child0.objectType }}-tab"
    >
      <div class="list-children" *ngIf="child0.objectType as childrenType">
        <div
          class="btn-height"
          *ngIf="obj.moduleCode && currentUser?.cruved.C >= 1"
        >
          <div class="btn-float-right">
            <a 
            *ngIf="queyParamsNewObject[child0.objectType]"
              class="btn btn-success float-right"
              [routerLink]="[
                '/',
                frontendModuleMonitoringUrl,
                'create_object',
                obj.moduleCode,
                child0.objectType
              ]"
              [queryParams]="queyParamsNewObject[child0.objectType]"
              ><i class="fa fa-plus" aria-hidden="true"></i> Ajouter
              {{ (child0.template["label"] || "").toLowerCase() }}</a
            >
          </div>
        </div>

        <pnx-monitoring-datatable
          *ngIf="childrenDataTable && childrenDataTable[childrenType]"
          (bEditChanged)="onbEditChanged($event)"
          [rows]="childrenDataTable[childrenType]['rows']"
          [columns]="childrenDataTable[childrenType]['columns']"
          [rowStatus]="objectsStatus[childrenType]"
          [frontendModuleMonitoringUrl]="frontendModuleMonitoringUrl"
          (rowStatusChange)="onSelectedChildren(childrenType, $event)"
          [child0]="child0"
          [obj]="obj"
          [sorts]="child0.configParam('sorts')"
          [currentUser]="currentUser"
        ></pnx-monitoring-datatable>
      </div>
    </div>
  </div>
</div>
