<div *ngIf="siteList && objForm"
class="obj-form"
>
<small>Filter les sites</small>

<input type="text" 
class="form-control form-control-sm"
(ngModelChange)="searchSiteChanged($event)"
[(ngModel)]="searchSite">

<br>

<small>Choix du site</small>
<select 
  class="form-control form-control-sm"
  [formControl]="objForm.controls.id_base_site"
  required
  >
    <option></option>
    <option *ngFor="let site of siteList" [value]="site.value">
      {{ site.text }}
    </option>
  </select>

  <!-- <mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
  <mat-option 
</mat-autocomplete> -->
</div>
