<div *ngIf="siteList && objForm" class="obj-form">

  <mat-form-field>
    <mat-label>Site</mat-label>
    <mat-select [formControl]="objForm.controls.id_base_site" required>
      <ngx-mat-select-search
      placeholderLabel="Filtrer les sites"
        (ngModelChange)="searchSiteChanged($event)"
        [ngModel]="searchSite"
        [clearSearchInput]="false"
      ></ngx-mat-select-search>
      <!-- <input
        placeholder="Filtrer les sites"
        (keyup)="searchSiteChanged($event)"
        [(ngModel)]="searchSite"
        /> -->
      <mat-option>None</mat-option>
      <mat-option *ngFor="let site of siteList" [value]="site.value">
        {{ site.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
