<div id="properties-display" class="cadre">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="nav-properties-tab"
        data-toggle="tab"
        href="#properties-tab"
        role="tab"
        attr.aria-controls="properties"
        aria-selected="true"
        >Propriétés</a
      >
      <a
        *ngIf="obj.properties.medias && obj.properties.medias.length"
        class="nav-item nav-link"
        id="nav-medias-tab"
        data-toggle="tab"
        href="#medias-tab"
        role="tab"
        attr.aria-controls="medias"
        aria-selected="false"
        >Médias ({{
          (obj.properties.medias && obj.properties.medias.length) || 0
        }})
      </a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade active show"
      id="properties-tab"
      role="tabpanel"
      attr.aria-labelledby="nav-properties-tab"
    >
      <table class="table table-striped table-sm">
        <tr *ngFor="let fieldName of obj.template.fieldNames; let i = index">
          <th>
            {{ obj.template.fieldLabels[fieldName] }}
            <i
              *ngIf="obj.template.fieldDefinitions[fieldName]"
              class="material-icons small-icon"
              [matTooltip]="
                obj.template.fieldLabels[fieldName] +
                ' : ' +
                obj.template.fieldDefinitions[fieldName]
              "
              matTooltipPosition="above"
              >help</i
            >
          </th>
          <td>{{ obj.resolvedProperties[fieldName] }}</td>
        </tr>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="medias-tab"
      role="tabpanel"
      attr.aria-labelledby="nav-medias-tab"
      *ngIf="obj.properties.medias && obj.properties.medias.length"
    >
      <ng-container *ngFor="let media of obj.properties.medias; index as i">
        <div class="medias-tab">
          <div [matTooltip]="ms.toString(media)">
            <a [href]="ms.href(media)" target="_blank">{{ media.title_fr }}</a>
            <i>
              ({{ ms.typeMedia(media)
              }}<span *ngIf="media.author"> par {{ media.author }}</span
              >)
            </i>
          </div>
          <p *ngIf="media.description_fr">{{media.description_fr}}</p>
          <div>
            <pnx-display-medias
              [medias]="obj.properties.medias"
              [index]="i"
              display="medium"
              diaporama="true"
            >
            </pnx-display-medias>
          </div>
        </div>
      </ng-container>
    </div>
    

    <button
      class="btn btn-success mr-2"
      (click)="onEditClick()"
      *ngIf="
        !bEdit &&
        (currentUser['cruved_object'][obj.objectType] || currentUser['cruved']).U >= obj.cruved('U')
      "
    >
      Éditer {{ (obj.template.label_art_def || "") }}
    </button>
    <button  (click)="getMapArea()" *ngIf='(obj.template.label || "").toLowerCase()==="aire"' type="button" class="btn btn-success mr-2" ><i class="fa fa-file-pdf-o"></i>&nbsp;Export en format cartographique (pdf)</button>
    <!-- Mise à jour de la synthèse (Admin) -->
    <button
    class="btn btn-info float-right"
    (click)="updateSynthese()"
    *ngIf="
      !bEdit &&
      obj.objectType === 'module' &&
      currentUser?.cruved.U >= 3 &&
      obj.properties.b_synthese
    "
    matTooltip="Attention, cette opération peux prendre du temps"
  >
  <span
  [ngClass]="{ 'hide-spinner': !bUpdateSyntheseSpinner }"
  class="spinner-border spinner-border-sm float-right"
  role="status"
  aria-hidden="true"
></span>

    Mettre à jour la synthèse
  </button>
<!-- telechargement-->
<button *ngIf='(obj.template.label || "").toLowerCase()==="module"' class="btn btn-success mr-2" color="primary" (click)="openModalDownload($event, modalDownload)"><i class="fa fa-arrow-down"></i>&nbsp;Téléchargements</button>	

  </div>
</div>
<!-- add mje modalDownload-->
<ng-template #modalDownload id="modal-download" let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> {{'DownloadData' | translate }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalReference.close();this.selectedDataSet=null">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <br>
    <h5 class="underlined second-color">Télécharger les observations</h5>
  
    <div>
      <small>Choisir un jeu de données à télécharger</small>
      

     <select 
        class="form-control form-control-sm"
       id="dataset-form "
       [formControl]="parentFormControl"
       [disableControl]="disabled"
       (change)="selectChangeHandler($event)"
     >

       <option
         *ngFor="let dataset_name of obj.resolvedProperties.datasets.split(',');index as i;"
         [value]=" obj.properties.datasets[i]"
       >{{ dataset_name }}</option>
     </select> <br>
    
      <button *ngIf= 'this.selectedDataSet'  (click)="downloadAllObservations('csv','standard',this.selectedDataSet)" type="button" class="btn btn-success  mr-2" >Format standard CSV</button>
      <button *ngIf= 'this.selectedDataSet' (click)="downloadAllObservations('csv','analyses',this.selectedDataSet)" type="button" class="btn btn-success  mr-1" >Format analyses CSV</button>
      
     </div> 
  </div>
</ng-template>

<!-- end add mje -->