<div id="properties-display" class="cadre">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="nav-properties-tab"
        data-toggle="tab"
        href="#properties-tab"
        role="tab"
        attr.aria-controls="properties"
        aria-selected="true"
        >Propriétés</a
      >
      <a
        *ngIf="obj.properties['medias'] && obj.properties['medias'].length"
        class="nav-item nav-link"
        id="nav-medias-tab"
        data-toggle="tab"
        href="#medias-tab"
        role="tab"
        attr.aria-controls="medias"
        aria-selected="false"
        >Médias ({{
          (obj.properties['medias'] && obj.properties['medias'].length) || 0
        }})
      </a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent" [ngStyle]="{'background-color': obj.template['color']}" >
    <div
      class="tab-pane fade active show"
      id="properties-tab"
      role="tabpanel"
      attr.aria-labelledby="nav-properties-tab"
    >
      <table class="table table-striped table-sm">
        <tr *ngFor="let fieldName of obj.template['fieldNames']; let i = index">
          <td style="width:50%" class="key text-muted">
            {{ obj.template.fieldLabels[fieldName] }}
            <i
              *ngIf="obj.template['fieldDefinitions'][fieldName]"
              class="material-icons small-icon"
              [matTooltip]="
                obj.template['fieldLabels'][fieldName] +
                ' : ' +
                obj.template['fieldDefinitions'][fieldName]
              "
              matTooltipPosition="above"
              >help</i
            >
          </td>
          <td class="td-value" >{{ obj.resolvedProperties[fieldName] }}</td>
        </tr>
      </table>
    </div>
    <div
      class="tab-pane fade"
      id="medias-tab"
      role="tabpanel"
      attr.aria-labelledby="nav-medias-tab"
      *ngIf="obj.properties['medias'] && obj.properties['medias'].length"
    >
      <ng-container *ngFor="let media of obj.properties['medias']; index as i">
        <div class="medias-tab">
          <div [matTooltip]="ms.toString(media)">
            <a [href]="ms.href(media)" target="_blank">{{ media.title_fr }}</a>
            <i>
              ({{ ms.typeMedia(media)
              }}<span *ngIf="media.author"> par {{ media.author }}</span
              >)
            </i>
          </div>
          <p *ngIf="media.description_fr">{{media.description_fr}}</p>
          <div>
            <pnx-display-medias
              [medias]="obj.properties['medias']"
              [index]="i"
              display="medium"
              diaporama="true"
            >
            </pnx-display-medias>
          </div>
        </div>
      </ng-container>
    </div>


    <button
      class="btn btn-success mr-2"
      (click)="onEditClick()"
      *ngIf="
        !bEdit &&
        (currentUser['cruved_object'][obj.objectType] || currentUser['cruved']).U >= obj.cruved('U')
      "
    >
      Éditer {{ (obj.template['label_art_def'] || "") }}
    </button>

    <!-- export pdf -->
    <button
      *ngFor="let exportPdfConfig of (obj.template['export_pdf'] || [])"
      (click)="processExportPdf(exportPdfConfig)"
      type="button"
      class="btn btn-success mr-2" >
      <i class="fa fa-file-pdf-o"></i>&nbsp;
      {{exportPdfConfig.label}}
    </button>

    <!-- Mise à jour de la synthèse (Admin) -->
    <button
    class="btn btn-info float-right"
    (click)="updateSynthese()"
    *ngIf="
      !bEdit &&
      obj.objectType === 'module' &&
      currentUser?.cruved.U >= 3 &&
      obj.properties['b_synthese']
    "
    matTooltip="Attention, cette opération peux prendre du temps"
  >
  <span
  [ngClass]="{ 'hide-spinner': !bUpdateSyntheseSpinner }"
  class="spinner-border spinner-border-sm float-right"
  role="status"
  aria-hidden="true"
></span>

    Mettre à jour la synthèse
  </button>

  <button
    *ngIf="obj.template['export_csv']"
    class="btn btn-success mr-2"
    color="primary"
    (click)="openModalExportCsv($event, modalExportCsv)">
    <i class="fa fa-arrow-down"></i>&nbsp;Téléchargements
  </button>

  </div>
</div>
<!--add mje modalExportCsv-->
<ng-template #modalExportCsv id="modal-download" let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> {{'DownloadData' | translate }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalReference.close();this.selectedDataSet=null">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let exp of (obj.template['export_csv'] || []);index as i;" class="row mb-3">
     <h5 class="underlined second-color col-md-12">{{obj.template['export_csv'][i].label}}
      <button
          (click)="getExportCsv(obj.template['export_csv'][i].type,obj.template['export_csv'][i].method,this.selectedDataSet[i])"
          type="button" class="btn btn-success  mr-2 float-right"
          [disabled]="!selectedDataSet[i] && obj.template['export_csv'][i].filter_dataset"
          >
        Télécharger
      </button></h5>
        <pnx-dynamic-form-generator
          *ngIf="obj.template['export_csv'][i].filter_dataset"
          class="obj-form col-md-12"
          #dynamicForm
          [autoGenerated]="true"
          [myFormGroup]="datasetForm"
          [formsDefinition]="datasetFormDef"
          (change)="onDatasetChanged($event, i)"
        ></pnx-dynamic-form-generator>

      <hr/>
    </div>
  </div>
</ng-template>

<!-- end add mje -->
