<div
  id="properties-display"
  class="cadre"
>
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
  >
    <mat-tab label="{{ 'Monitoring.Properties.Properties' | translate }}">
      <div class="mt-2">
        <table class="table table-striped table-sm">
          <tr *ngFor="let fieldName of templateData.fieldNames; let i = index">
            <td
              style="width: 50%"
              class="key text-muted"
            >
              {{ templateData.fieldLabels[fieldName] }}
              <i
                *ngIf="templateData.fieldDefinitions[fieldName]"
                class="material-icons small-icon"
                [matTooltip]="
                  templateData.fieldLabels[fieldName] +
                  ' : ' +
                  templateData.fieldDefinitions[fieldName]
                "
                matTooltipPosition="above"
              >
                help
              </i>
            </td>
            <td class="td-value">{{ obj[fieldName] }}</td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab
      *ngIf="templateSpecific"
      label="{{ 'Monitoring.Properties.SpecificProperties' | translate }}"
    >
      <div class="mt-2">
        <table class="table table-striped table-sm">
          <tr *ngFor="let fieldName of templateSpecific['fieldLabels'] | keyvalue; let i = index">
            <td
              style="width: 50%"
              class="key text-muted"
            >
              {{ fieldName.value }}
              <i
                *ngIf="templateSpecific['fieldDefinitions'][fieldName]"
                class="material-icons small-icon"
                [matTooltip]="
                  templateSpecific['fieldLabels'][fieldName.key] +
                  ' : ' +
                  templateSpecific['fieldDefinitions'][fieldName.key]
                "
                matTooltipPosition="above"
              >
                help
              </i>
            </td>
            <td class="td-value">{{ obj[fieldName] }}</td>
          </tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab
      *ngIf="obj['medias'] && obj['medias'].length"
      label="Médias ({{ (obj['medias'] && obj['medias'].length) || 0 }})"
    >
      <ng-container *ngFor="let media of obj['medias']; index as i">
        <div class="medias-tab">
          <div [matTooltip]="ms.toString(media)">
            <a
              [href]="ms.href(media)"
              target="_blank"
            >
              {{ media.title_fr }}
            </a>
            <i>
              ({{ ms.typeMedia(media) }}
              <span *ngIf="media.author">par {{ media.author }}</span>
              )
            </i>
          </div>
          <p *ngIf="media.description_fr">{{ media.description_fr }}</p>
          <div>
            <pnx-media-item
              [inputMedia]="media"
              display="medium"
            ></pnx-media-item>
          </div>
        </div>
      </ng-container>
    </mat-tab>
  </mat-tab-group>

  <div
    class="tab-content"
    id="nav-tabContent"
    [ngStyle]="{ 'background-color': 'white' }"
  >
    <div
      class="tab-pane fade active show"
      id="properties-tab"
      role="tabpanel"
      attr.aria-labelledby="nav-properties-tab"
    ></div>
    <div
      class="tab-pane fade"
      id="medias-tab"
      role="tabpanel"
      attr.aria-labelledby="nav-medias-tab"
      *ngIf="obj['medias'] && obj['medias'].length"
    ></div>

    <button
      mat-stroked-button
      color="primary"
      class="mr-2"
      (click)="hasEditPermission ? onEditClick() : null"
      *ngIf="!bEdit"
      [matTooltip]="hasEditPermission() ? null : toolTipNotAllowed"
      [disabled]="!hasEditPermission"
    >
      {{ 'Monitoring.Module.Edit' | translate }}
    </button>
    <!-- CHECK currentUser?.moduleCruved[obj.objectType].U >= 1 -->
    <!-- export pdf -->
    <span *ngFor="let exportPdfConfig of templateData.exportPDF || []">
      <button
        mat-stroked-button
        color="primary"
        (click)="processExportPdf(exportPdfConfig)"
        type="button"
        class="mr-2"
        *ngIf="userPermission['module'].E >= 1"
      >
        <i class="fa fa-file-pdf-o"></i>
        &nbsp;
        {{ exportPdfConfig.label }}
      </button>
    </span>
    <!-- Mise à jour de la synthèse (Admin) -->
    <!-- &&
        -->
    <button
      mat-stroked-button
      color="primary"
      class="float-right"
      (click)="updateSynthese()"
      *ngIf="
        !bEdit && objectType === 'module' && userPermission.module.U >= 1 && bSynthese
      "
      matTooltip="Attention, cette opération peux prendre du temps"
    >
      <span
        [ngClass]="{ 'hide-spinner': !bUpdateSyntheseSpinner }"
        class="spinner-border spinner-border-sm float-right"
        role="status"
        aria-hidden="true"
      ></span>

      {{ 'Monitoring.Module.UpdateSynth' | translate }}
      <mat-icon>sync</mat-icon>
    </button>

    <button
      mat-stroked-button
      *ngIf="templateData.exportCSV && userPermission[objectType].E >= 1"
      class="mr-2"
      color="primary"
      (click)="openModalExportCsv($event, modalExportCsv)"
    >
      <i class="fa fa-arrow-down"></i>
      &nbsp;{{ 'Monitoring.Module.Downloads' | translate }}
    </button>
  </div>
</div>
<!--add mje modalExportCsv-->
<ng-template
  #modalExportCsv
  id="modal-download"
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-header">
    <h5
      class="modal-title"
      id="exampleModalLabel"
    >
      {{ 'Actions.DownloadData' | translate }}
    </h5>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modalReference.close(); this.selectedDataSet = null"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let exp of templateData.exportCSV || []; index as i">
      <mat-card class="mb-2">
        <mat-card-title>{{ exp.label }}</mat-card-title>
        <mat-card-content
          *ngIf="exp.filter_dataset"
          class="mb-0"
        >
          <pnx-datasets
            label="{{ 'Monitoring.Properties.DownloadJdd' | translate }}"
            [parentFormControl]="datasetForm"
            [moduleCode]="moduleCode"
            (onChange)="onDatasetChanged($event, i)"
          ></pnx-datasets>
        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-raised-button
            color="primary"
            (click)="getExportCsv(exp, this.selectedDataSet[i])"
            type="button"
            matTooltip="Télécharger"
            [disabled]="exp.filter_dataset && !selectedDataSet[i]"
          >
            {{ 'Monitoring.Module.Download' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- end add mje -->
